@media screen and (max-width: 1376px){
    .about-con{
        position: absolute;
        left: 2%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
    }
    

}


