*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: rgb(102, 231, 160);
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0.3);
}

body{
    background-color: var(--color-primary);
    font-family: 'Heebo', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

section{
    min-height: 100vh;
    width: 100%;
    position: abosolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;

}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
    background-color: slateblue;
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(44, 42, 111);
}
.sec3{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(72, 153, 128);
}
.sec4{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(109, 29, 106);
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
    background-color: rgb(6, 98, 163);
}



.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim{
        0%{
            transform: translateY(-100%) scaleY(0)
        }
        100%{
            transoform: translateY(0%) scaleY(1)
        }
    }
}
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }

    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);

        i{
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none;
        }
    }
}

.black-and-white-btn{
    top: 7%;
    right: 3.83%;
    position: fixed;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: all .2s ease-in-out;
    &:active{
        transform: translateY(-2px);
    }

}

.upside-down {

    transform: rotate(180deg);
    transition: transform 1s ease-in-out; /* Add smooth transition */
}

.not-upside-down{
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}

.colored{

    transition: all .5s ease-in-out;
    filter: grayscale(0%) !important;
    background-color: rgb(4, 255, 0);
    
    i{
        filter: grayscale(0%) !important;
        
        color:rgb(120, 82, 246);
        transition: all .5s ease-in-out;
    }
}


.black-and-white {
    filter: grayscale(100%);
}


/*Header*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
    }

}

.big-triangle {
    position: relative;
    left: 85px;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 519.6px solid transparent; /* Adjust the size and color of the big triangle */

}

.big-triangle::before {

    content: "";
    position: absolute;
    top: 30px; /* Adjust the offset to control the shadow's position */
    left: -250px; /* Adjust the offset to control the shadow's position */
    width: 0;
    height: 0;
    border-left: 312px solid transparent; /* Slightly wider than the triangle */
    border-right: 312px solid transparent; /* Slightly wider than the triangle */
    border-bottom: 530.6px solid rgba(0, 0, 0, 0.2); /* Adjust the size and color of the shadow */
  }
  


.triangle-1 {
    position: absolute;
    left: -100px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid lightblue; 
    /* Adjust the size and color of the small triangle */
}

.triangle-2{
    position: absolute;
    left: -200px;
    top: 173.1px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid lightsalmon; 
}

.triangle-3{
    position: absolute;
    left: -100px;
    top: 173.1px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid green; 
    transform: rotateX(180deg)
}

.triangle-4{
    position: absolute;
    left: 0px;
    top: 173.1px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid blue; 
}

.triangle-5{
    position: absolute;
    left: -300px;
    top: 346.2px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid pink; 
}

.triangle-6{
    position: absolute;
    left: -200px;
    top: 346.2px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid purple; 
    transform: rotateX(180deg)
}

.triangle-7{
    position: absolute;
    left: -100px;
    top: 346.2px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid white; 
}

.triangle-8{
    position: absolute;
    left: 0px;;
    top: 346.2px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid brown; 
    transform: rotateX(180deg)
}

.triangle-9{
    position: absolute;
    left: 100px;
    top: 346.2px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 173.1px solid grey; 
}

.tri{
    transition: all .5s ease-in-out;
}


.right-header{
    position: relative;
    top:43%;
}

.btn-con{
    position: relative;
    top: 2.5rem;
    display:flex;
    align-self: flex-start;
}

.dl-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position:relative;
    border: 3px solid var(--color-secondary);
    display:flex;
    align-self: flex-start;
    align-items:center;
    overflow:hidden;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%;
        border: 2px solid var(--color-secondary);
        padding: 1rem;
        margin: 0.06rem;
    }

    &::before{
        content: "";
        position:absolute;
        top:0;
        right:0;
        transform:translateX(100%);
        transition: all .5s ease-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height:100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
            
        }
    }
    
    
    
}


.main-title{
    display: flex;
    justify-content: center;

}

.about-text {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px var(--color-black);
    span{
        color: var(--color-secondary);
    }
}

.about-con{
    position: absolute;
    left: 5%;
    top: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}


.about-right{
    grid-column: 2/3;
}

.about-left{
    grid-column:1/2
}

.about-p{
    padding-right: 3rem;
    text-align:justify;
}

img-cont{
    height:100%;
    width: 100%;
}

.starry-night {
    height: 500px;
    width: 575px;
    margin-right: 2rem;
    border: 6px solid var(--color-secondary); /* Border color and width */
    border-radius: 8px; /* Border radius for rounded corners */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Shadow effect */
  }

.github{
    position:relative;
    left: 20rem;
    bottom: 1rem;
    width: 55px;
    height: 55px;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
    i{
        font-size: 1.2rem;
    }

}

.github:hover{
    i{
        color:rgb(44, 42, 111);
        transition: all .4s ease-in-out;
    }
}


  
.linkedin{
    width: 55px;
    height: 55px;
    font-size: 1.2rem;
    position:relative;
    left: 27rem;
    bottom: 4.4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding: 1rem;
    background-color: var(--color-secondary);
    border-radius: 50%;
    i{
        font-size: 1.2rem;
    }

} 


.linkedin:hover{
    i{
        color:rgb(44, 42, 111);
        transition: all .4s ease-in-out;
    }
}



.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .course-unit{
        position: relative;
        border-radius: 15px;
        width: 100%;
        height: 150px;
        .course-info{
            background-color: rgb(137, 81, 135);
            height: 100%;
            width: 100%;
            border-radius: 15px;
            padding: 1rem;
        }
      
        .hover-items{
            width: 100%;
            height: 100%;
            background-color: rgb(255, 251, 0);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;

            h3{
                font-size: 1.5rem;
                color: rgb(109, 29, 106);
            }
            
            h5{
                font-size: 1rem;
                color: rgb(109, 29, 106);
            }
            .hover-info{
                position:relative;
                bottom: 20%;
                
        
            }

            .icons{
                display: flex;
                justify-content: center;
                align-items:center;
                .icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    i{
                        font-size: 3.5rem;
                        color: rgb(109, 29, 106);
                        margin: 0 1rem;
                    }

                    &:hover{
                        transition: all .4s ease-in-out;
                        i{
                            color: rgb(161, 74, 159);
                            transition: all .4s ease-in-out;
                        }
                    }
                }
            }

        }
    }
}


.course-unit:hover .hover-items{
    opacity: 1;
    transform: scale(1);

}

  
.courses-text{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px var(--color-black);
    span{
        color: rgb(255, 251, 0);
    }
}


.projects-text{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px var(--color-grey-4);
    span{
        color: rgb(120, 82, 246);
    }
}


.proj-p{
    padding: 2rem 0;
    margin-top: 1rem;
    text-align: center;
}


.projects{
    position:relative;
    right: 2.7rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .project-unit{
        position: relative;
        background-color: rgba(33, 96, 84, 0.6);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 20px rgba(0,0,0,0.3);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            img{
                transform: scale(1.1);
                box-shadow: 1px 4px 20px rgba(0,0,0,0.8);
            }
        }
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            transition: all .4s ease-in-out;
        }
        .proj-unit-text{
            margin-top: -7px;
            padding: 1.2rem;
            
            h4{
                font-size: 1.5rem;
                margin-bottom: .3rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: rgb(97, 69, 255);
                }
            }
            p{
                color: var(--color-white);
                line-height: 1.1em;
                padding-bottom: 0.5rem;
            }
        }
    }
}


.contact-content-con{
    display:flex;
    padding-top: 3.5rem;
    .left-contact{
        flex: 2;
        h4{
            margin-top: 1.5rem;
            line-height: 2rem;
        }

       
            .contact-item{
                display:flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }

                .icon{
                    display:grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display:flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }

            }
        
    }


    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0; 
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: interit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: rgb(15, 78, 122);
                resize: none;
                width: 100%;
                color: var(--color-white);
                
            }

            input::placeholder, textarea::placeholder{
                color: rgb(6, 98, 163);
            }
        }
        .ic{
            display:flex;
            :last-child{
                margin-left: 1.5rem;

            }

        }
    }
}

.contact-title{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px var(--color-grey-4);
    span{
        color: rgb(142, 40, 101);
    }
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.submit-button:hover {
    background-color: #0056b3;
}

/* Disable button when submitting */
.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


